.card{
    width: 240px;
    height: 340px;
    background-color: rgba(218, 207, 195, 0.911);
    box-shadow: inset 0 0 1em rgb(153, 150, 134), 0 0 1em rgba(49, 22, 22, 0.493);
    margin: 20px;
    border-radius: 4%;
    z-index: 2;
    display:block;
    position: relative;
}
.card:hover{      
    box-shadow: none;
    cursor: pointer;
}

.card__number{
    font-size:x-large;
    position:relative;
    width: 50px;
    height: 50px;
    background-color: rgb(165, 151, 26);
    left: -20px;
    top:-20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    line-height: 50px;  
}
.card:hover .card_plus{
    display:flex;
}
.card_plus{
    position: absolute;
    display:none;
    font-size: 90px;
    width: 100%;
    text-align: center;
    justify-content: center;
    z-index: 3;   
    top:32%;
    
}
.card img{
    width:240px;
}
.card:hover > .secend_img{
    filter: hue-rotate(180deg);
    opacity: 0.2;
}

@media screen and (max-width:650px) {
    .card{
        width: 290px;
        height:350px;
    }
    .card img{
        width:290px;
    }   
    .card:hover .card_plus{
        display:none;
    }
}